<a href="https://colab.research.google.com/github/BE02LEEJAEHOON/BE_02_-/blob/main/python_test.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [15]:
# 주석은 이렇게 하는거다
print("진짜 안보이는 거야?")
# print("신기하네?")

진짜 안보이는 거야?

In [21]:
for 동물 in ("토끼", "사자", "푸바오", "호랑이")
  print(동물)
  print("보러 갈래요?")

SyntaxError: ignored

##사칙연산
더하기 : +

빼기 : -

곱하기 : *

나누기 :
*   / : 우리가 알고 나누기와 동일한 기능기능
*   항목 추가
*   항목 추가






거듭제곱

In [24]:
# 더하기
print(3+2)

5

In [27]:
# 빼기
print(3-1)

2

In [29]:
# 곱하기
print(3*2)

6

In [31]:
# / 나누기
print(7/2)

3.5

In [33]:
# // 나누기
print(7//2)

# % 나누기
print(7%2)

3
1

내장함수 : divmod

>내장함수 : 자주 사용하는 기능을 미리 만들어 놓은 것을 내장 함수라고 함

**divmod** : 목과 나머지를 동시에 구해줌

In [41]:
print(divmod(3, 2))
print(divmod(7, 4))
print(divmod(13, 2))
print(divmod(19, 4))
print(divmod(15, 4))

print( 7//4, "," , 7%4)

(1, 1)
(1, 3)
(6, 1)
(4, 3)
(3, 3)
1 , 3

### 괄호

> 수학에서 사용되는 괄호와 동일한 기능

() : 괄호안에 있는 것을 먼저 계산

사칙연산 순서 : 괄호 -> 곱셈 , 나눗셈 -> 덧셈 , 뺄셈

In [43]:
3 + 2 * 4

11

In [47]:
(3+2)*4

20

In [49]:
divmod(3, 2)

(1, 1)

In [52]:
# 아아 : 5,000원 / 아샷추 : 6,500원
# 아아 2잔 / 야삿추 3잔

(5000 * 2) + (6500 * 3)

29500

In [53]:
# 어제 아아 2잔이랑 아샷추 3잔 결제한 금액이 얼마였지?
(5000 * 2) + (6500 * 3)

29500

계산된 결과값이 다 날아가는문제 ㅠㅠ 어케 해결함?

###변수란 ? (기본 중에 기본, 근본 중에 근본 , 코어 중에 코어)

In [57]:
# 하나의 값을 변수에 넣을 때
num = 1
print(num)

# 두개의 값을 변수에 넣을 때
num_1, num_2 = 1, 2
print(num_1)
print(num_2)

print(num_1, num_2)

1
1
2
1 2

1부터 5까지의 숫자를 더하는 문제를 풀어보자, 단 다음 숫자를 더하기 위해서는 매번 새로운 줄에 시작해야하는 조건이 있다

In [60]:
# 변수를 사용하지 않을 때
# 이전에 계산된 결과를 저장할 수 있는 방법이 없음
1 + 2
1 + 2 + 3
1 + 2 + 3 + 4
1 + 2 + 3 + 4 + 5

15

In [61]:
# 변수를 사용 할 때
# 이전에 계산된 결과를 저장해서 사용 할 수 있는 장점

sum = 1 + 2
sum = sum + 3
sum = sum + 4
sum = sum + 5

print(sum)

15

###변수에 값을 넣는 것 => 할당

sum = 1 + 2 => 1+2의 계산된 결과를 sum이라는 변수에 할당한다.  

sum은 변수명이고 "=" 같다는 의미가 아니라 할당(assignment) 이라고 한다.  

"=" : 할당 연산자  
"+" : 산술 연산자  
+= 산술 이후 바로 할당하는 문법  
/=, -=, *= 모두 가능함

In [63]:
# 변수를 사용하면서 사용 가능한 문법

sum = 1 + 2
sum = sum + 3
sum = sum + 4
sum = sum + 5

print(sum)

sum2 = 1+2
sum2 += 3
sum2 += 4
sum2 += 5

print(sum2)

15
15

In [68]:
# 주의 ! ! 선언되지 않은 변수를 사용할 경우 에러 발생

sum3 = 0
sum3 += 1

sum3

1

In [74]:
# 변수에 어떠한 값도 넣고 싶지 않고 선언하는 방법

nothing = None
print(None)

None

In [79]:
#대소문자를 구분하는 변수
BIG = "크다"
big = "작다"

print(BIG, big)

크다 작다

스네이크케이스 (snake case)
변수명 : snake_case <= 언더바가 뱀이냐 ㅇㅅㅇ?

카멜케이스 (camel case)
변수명 : camelCase  <= 낙타가 보이냐 ㅇㅅㅇ?

In [81]:
# 우리는 변수를 만들때 스네이크케이스로 진행합니다. 그리고 언더바는 2개를 적용시켜주세요
# 개발에 관련된 여러 조건을 명시하는 것들을 코드 컨벤션이라고 합니다.

box__shose = "스니커즈"
box__hat = "슈프림 모자"

print(box__shose)
print(box__hat)

스니커즈
슈프림 모자

In [86]:
#print() 대표적인 포메팅 3가지 f-string : print(f' {변수명}')

me = "파머"
print(f'{me}만 빼고 고양이 다 있어')

파머만 빼고 고양이 다 있어

In [96]:
# 붕어빵 철이 돌아왔죠?
# 팥 : 2000원, 슈크림 : 2500원, 잡채 : 3000원
# 무인 주문기계를 만들어주세요
# 잡채 3개, 슈크림 2개를 주문하면
# "주문이 완료되었습니다. 슈크림 2개, 잡채 3개 총 5개 결제금액은 14000원 입니다."
# 이 문구로 출력되도록 코드를 작성해주세요.
# 변수를 만들 때 스네이크 케이스에 언더바는 2개 / print()문의 포메팅 f-string

# 변수값 입력
fish__p, fish__s, fish__j = "팥", "슈크림", "잡채"
fish__P__price, fish__s__price,fish__j__price = 2000, 2500, 3000
order__j, order__s = 3, 2

# 붕어빵 계산 값
order__j__pay, order__s__pay = fish__j__price *3, fish__s__price *2

#구매 총 갯수
total = order__j + order__s

#구매 총 금액
total__pay = order__j__pay + order__s__pay

#출력
print(f'주문이 완료되었습니다. {fish__j} {order__j}개, {fish__s} {order__s}개 총 {total}개 결제 금액은 {total__pay}원 입니다.')

주문이 완료되었습니다. 잡채 3개, 슈크림 2개 총 5개 결제 금액은 14000원 입니다.

변수 : 하나의 값을 저장 할 수 있는 공간을 생성하는 것

변수명을 만들때 컨벤션
변수를 표현하는 방법 : 스네이크 , 카멜
변수를 활용해서 다양한 문제 풀어보기

에프 스트링...ㄹ .ㅇㄹㅇ ㅇㄹ ㅇㄹ

In [99]:
# 1. int (integer) : 정수
# 2. float (float) : 실수
# 3. str (string) : 문자
# 4. bool (bool, boolean) : 참 또는 거짓, true 또는 false, 1 또는 0

# 5. list
# 6. tuple
# 7. dict
# 8. set

In [101]:
# 정수 : 1, 2, 3, 4, -1, -2, -3
# 실수 : 1.2, 3.3, 4.5, 4.0

9.0 + 2

11.0

In [103]:
#box_num에 숫자만 넣자는 약속을 했어요 누군가 한글 표기법으로 숫자를 넣었습니다.

box_num = "하나"
box_num = box_num + 1
box_num +=1
print(box_num)

TypeError: ignored

In [105]:
type(box_num)

str

In [108]:
type(1)
type(1.2)

float

In [109]:
# 2여야 하는데 형변환을 이용 (형태를 변환)

4 / 2

2.0

### 말 그대로 형태를 변형한다 : 형변환

int, float
int -> float    ex) 5 -> 5.0 float(5)

In [113]:
print(float(5))
print(int(5.0))

5.0
5

In [115]:
나이 = 10
type(나이)
print(dir(나이))

['__abs__', '__add__', '__and__', '__bool__', '__ceil__', '__class__', '__delattr__', '__dir__', '__divmod__', '__doc__', '__eq__', '__float__', '__floor__', '__floordiv__', '__format__', '__ge__', '__getattribute__', '__getnewargs__', '__gt__', '__hash__', '__index__', '__init__', '__init_subclass__', '__int__', '__invert__', '__le__', '__lshift__', '__lt__', '__mod__', '__mul__', '__ne__', '__neg__', '__new__', '__or__', '__pos__', '__pow__', '__radd__', '__rand__', '__rdivmod__', '__reduce__', '__reduce_ex__', '__repr__', '__rfloordiv__', '__rlshift__', '__rmod__', '__rmul__', '__ror__', '__round__', '__rpow__', '__rrshift__', '__rshift__', '__rsub__', '__rtruediv__', '__rxor__', '__setattr__', '__sizeof__', '__str__', '__sub__', '__subclasshook__', '__truediv__', '__trunc__', '__xor__', 'as_integer_ratio', 'bit_count', 'bit_length', 'conjugate', 'denominator', 'from_bytes', 'imag', 'numerator', 'real', 'to_bytes']

In [117]:
print(나이.bit_length())
print(bin(나이))

4
0b1010

메소드 / 내장 함수 / 함수
이것의 정의를 알 수 있어야 한다..